* {
  background-color: aliceblue;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: brown;
}

h2 {
  color: maroon;
}

img {
  height: auto;
  width: 500px;
}

p {
  font-style: italic;
}

p, ol, ul {
  font-size: 22px;
}
